body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

imput {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 7px;
  background-color: lightskyblue;
  color: white;
  font-size: 18px;
  padding-left: 10px;
}
